<image>{{ content | trim }} For the final result, please first perform thinking within <think></think> tags, then place the output within <answer></answer> tags. Following "<think></think>
<answer></answer> " format.